.game-board{
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 100px));
    grid-auto-rows: minmax(50px, 100px);
    grid-gap: 1px;
    justify-content: center;
    /* padding */
}
.piece-holder{
    display: grid;
    grid-template-columns: minmax(50px, 100px);
    grid-auto-rows: minmax(50px, 100px);
    /* grid-gap: ; */
}
.p1-captured {
    background-color: #d2b48c;
    border: 2px solid black;
}
.p2-captured {
    background-color: #d2b48c;
    border: 2px solid black;
}
/* GAMEBOARD DESIGN */
.box {
    background-color: #d2b48c;
    border: 2px solid black;
}
.water-left-middle {
    background-image: linear-gradient(to bottom right, #96d0e0, #d4f1f9);
    border: 2px solid black;
}
.water-right-middle {
    background-image: linear-gradient(to bottom left, #96d0e0, #d4f1f9);
    border: 2px solid black;
}
.wall-bottom {
    background-image:linear-gradient(to bottom,#d2b48c, #a89070);
    border: 2px solid black;
    border-bottom: 8px solid black;
}
.wall-top {
    background-image:linear-gradient(to top,#d2b48c, #a89070);
    border: 2px solid black;
    border-top: 8px solid black;
}
.wall-top-right {
    background-image:linear-gradient(to top right,#d2b48c, #a89070);
    border: 2px solid black;
    border-top: 8px solid black;
    border-right: 8px solid black; 
}
.wall-top-left {
    background-image:linear-gradient(to top left,#d2b48c, #a89070);
    border: 2px solid black;
    border-top: 8px solid black;
    border-left: 8px solid black; 
}
.wall-bottom-left {
    background-image:linear-gradient(to bottom left,#d2b48c, #a89070);
    border: 2px solid black;
    border-bottom: 8px solid black;
    border-left: 8px solid black;
}
.wall-bottom-right {
    background-image:linear-gradient(to bottom right,#d2b48c, #a89070);
    border: 2px solid black;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
}
.wall-left {
    background-image:linear-gradient(to left,#d2b48c, #a89070);
    border: 2px solid black;
    border-left: 8px solid black;
}
.wall-right {
    background-image:linear-gradient(to right,#d2b48c, #a89070);
    border: 2px solid black;
    border-right: 8px solid black;
}
.water-left {
    background-image: linear-gradient(to bottom left, #96d0e0, #5cb6cf);
    border: 2px solid black;
    border-left: 8px solid black;
}
.water-right {
    background-image: linear-gradient(to bottom right, #96d0e0, #5cb6cf);
    border: 2px solid black;
    border-right: 8px solid black;
}